@font-face {
  font-family: "lucdia";
  src: url("./fonts/Lucida Sans Unicode.ttf");
}

@font-face {
  font-family: "myrida";
  src: url("./fonts/MyriadPro-Bold.otf");
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

// html {
//   font-size: (1vw / 19.2);
// }

// @media (min-width: 1920) {
//   html {
//     font-size: 1px;
//   }
// }

body {
  font-family: "lucdia";
  // text-align: center;
}

:global {
  .fontBold {
    font-family: "myrida";
  }
}
