// @font-face{
//     font-family: 'Lucida';
//     src : url('./fonts/Lucida Sans Unicode.ttf');
// }

// @font-face{
//     font-family: 'Myrida';
//     src : url('./fonts/MyriadPro-Bold.otf');
// }

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}
