@import "color.scss";
@import "size.scss";

// $sectionImgWidth: 185vw * (649 / 173);

.main {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $cBgBlue;
  color: $cNormalB;
  position: relative;
  text-align: center;
  // padding-left: (92vw / 19.2);
  // padding-right: (67vw / 19.2);

  .container {
    display: inline-block;
    position: relative;

    top: -(120vw / 19.2);
  }
}

.titleContainer {
  position: relative;

  .title {
    font-size: (60vw / 19.2);
    color: $cImportant;
    position: absolute;
    bottom: (65vw / 19.2);
    left: (60vw / 19.2);
    display: inline-block;

    .text {
      position: relative;
      left: 50%;
    }
  }
  .verticalLine {
    width: 2px;
    height: (53vw / 19.2);
    position: absolute;
    left: (185vw / 19.2);
    bottom: 0;
    background-color: $cImportant;
  }
}

.subscribe {
  color: $cImportant;
  position: absolute;
  bottom: (120vw / 19.2);
  left: (400vw / 19.2);
  font-family: "myrida";

  .line {
    border: 2px solid;
    width: (230vw / 19.2);
    position: absolute;

    &.left {
      border-right: none;
      border-bottom: none;
      height: (90vw / 19.2);
      left: 0;
      top: 50%;
      transform: translate(-(274vw / 19.2));
    }

    &.right {
      border-left: none;
      border-top: none;
      height: (200vw / 19.2);
      right: 0;
      bottom: 50%;
      transform: translate(120%);
    }
  }

  .buttonOuter {
    border: 2px solid;
    width: (255vw / 19.2);
    height: (85vw / 19.2);

    .buttonInner {
      border: 2px solid $cImportant;
      border-left: none;
      border-top: none;
      color: $cNormalW;
      font-size: (28vw / 19.2);
      width: (240vw / 19.2);
      height: (70vw / 19.2);
      text-align: center;
      text-transform: uppercase;
      line-height: 3.64583vw;
      background-color: $cImportant;
      cursor: pointer;
      font-family: "lucdia";

      &:hover {
        color: $cButtonHover;
      }
    }
    .diagonal {
      position: absolute;
      width: (21.213vw / 19.2);
      height: 2px;
      background-color: $cImportant;
      right: 1px;
      bottom: 0;
      transform: rotate(45deg);
      transform-origin: 100%;
    }
  }
}

.sectionList {
  background-color: $cNormalW;
  position: relative;
  padding-top: (70vw / 19.2);
  width: 1735 * $w;

  .border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid $cImportant;
    left: (25vw / 19.2);
    top: (21vw / 19.2);
  }

  .verticalLine {
    width: 2px;
    position: absolute;
    background-color: $cImportant;

    &.top1 {
      height: (53vw / 19.2);
      left: (185vw / 19.2);
      top: 0;
      transform: translateY(-100%);
    }

    &.top2 {
      height: (135vw / 19.2);
      left: (185vw / 19.2);
      top: 0;
      background-color: $cLineFeaturesInner;
    }

    &.bottom1 {
      height: (190vw / 19.2);
      left: (256vw / 19.2);
      bottom: 0;
      background-color: $cLineFeaturesInner;
    }

    &.bottom2 {
      height: (100vw / 19.2);
      left: (256vw / 19.2);
      bottom: 0;
      transform: translateY(100%);
    }
  }
}

.section {
  min-height: 300px;

  .img {
    display: inline-block;

    img {
      max-width: 100%;
    }
  }
  .desc {
    display: inline-block;
    text-align: left;
    vertical-align: top;

    .title {
      font-size: 48 * $w;
      padding-bottom: 60 * $w;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 30 * $w;
        width: 62 * $w;
        height: 7 * $w;
        background-color: $cImportant;
      }
    }

    .text {
      font-size: 24 * $w;
    }
  }

  &.limg {
    .desc {
      width: 1130 * $w;
      padding-left: 95 * $w;
      padding-right: 220 * $w;
    }
    .img {
      width: 600 * $w;
      text-align: right;
    }
  }

  &.rimg {
    .desc {
      width: 1060 * $w;
      padding-left: 140 * $w;
      padding-right: 145 * $w;
    }
    .img {
      width: 660 * $w;
      text-align: left;
    }
  }
}
