@import "color.scss";
@import "size.scss";

#footer {
  background-color: $cBgBlack;
}

.main {
  background-color: $cBgBlack;
  text-align: center;
  color: $cNormalW;
}

.container {
  display: inline-block;
  text-align: left;
  width: 100%;
  padding: 0 135 * $w;
}

.left {
  display: inline-block;
  padding-left: 2rem;
  padding-top: 130 * $w;
  vertical-align: top;
  width: 750 * $w;

  .image {
    width: 120 * $w;
    padding-bottom: 70 * $w;

    img {
      width: 100%;
    }
  }

  .navItem {
    display: block;
    margin-bottom: 25 * $w;
  }
}

.right {
  display: inline-block;
  text-align: center;
  padding-top: 150 * $w;
}

.subscribe {
  color: $cImportant;
  position: relative;
  display: inline-block;
  width: 705 * $w;
  // bottom: 120 * $w;
  // left: 400 * $w;

  .buttonOuter {
    border: 2px solid;
    height: 85 * $w;

    .buttonInner {
      border: 2px solid $cImportant;
      color: $cNormalW;
      font-size: 28 * $w;
      width: 690 * $w;
      height: 70 * $w;
      text-align: right;
      font-family: "lucdia";

      input {
        width: 430 * $w;
        height: 100%;
        display: inline-block;
        color: $cNormalW;
        background: none;
        border: none;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: inherit;
        }
      }

      a {
        width: 240 * $w;
        height: 100%;
        display: inline-block;
        text-transform: uppercase;
        line-height: 3.64583vw;
        cursor: pointer;
        background-color: $cImportant;
        text-align: center;

        &:hover {
          color: $cButtonHover;
        }
      }
    }
    .diagonal {
      position: absolute;
      width: (21.213vw / 19.2);
      height: 2px;
      background-color: $cImportant;
      right: 1px;
      bottom: 0;
      transform: rotate(45deg);
      transform-origin: 100%;
    }
  }
}

.socialiconContainer {
  padding-top: 100 * $w;
  display: inline-block;

  img {
    width: 65 * $w;
    margin: 0 30 * $w;
  }
}

.bottom {
  margin-top: 80 * $w;
  display: inline-block;
  border-top: 2px solid $cNormalW;
  padding-top: 80 * $w;
  padding-left: 55 * $w;
  padding-bottom: 160 * $w;
  height: 100px;
  width: 100%;
}
