@import "color.scss";

.slogan {
  background-size: cover;
  width: 100vw;
  height: 64.06vw;
  overflow-y: hidden;
  position: relative;
}

.locale {
  color: white;
  position: absolute;
  margin-top: 3.125vw;
  right: 4.6875vw;
  z-index: 200;
  cursor: pointer;

  div {
    display: inline-block;
    text-transform: uppercase;

    &.active {
      color: green;
    }
  }

  div:first-child {
    padding-right: 1rem;
  }

  div ~ div {
    &::before {
      content: "|";
      color: white;
      padding-right: 1rem;
    }
  }
}

.description {
  display: inline-block;
  vertical-align: top;
  margin-top: 4.948vw;
  margin-left: 8.33vw;
  width: (855vw / 19.2);
  color: $cNormalW;

  .image {
    text-align: center;

    img {
      max-width: (449vw / 19.2);
    }
  }

  .slogonWord {
    color: $cImportant;
    //   font-size: 60vw * (4 / (3 * 19.2));
    font-size: (60vw / 19.2);
    position: relative;
    margin-top: (92vw / 19.2);
    margin-bottom: (67vw / 19.2);
    width: 120%;
    text-align: center;

    img {
      position: absolute;
      left: -(30vw / 19.2);
      max-width: (54vw / 19.2);
      transform: translate(-100%, -50%);
    }
  }

  .text {
    // width: (650vw / 19.2);
    width: 85%;
    font-size: (24vw / 19.2);
  }
}

.sloganImg {
  display: inline-block;
  position: absolute;
  position: absolute;
  width: 51.3vw;
  height: 64.06vw;
  right: 0;
  z-index: 100;

  img {
    max-width: 100%;
  }
}

.subscribe {
  color: $cImportant;
  position: absolute;
  left: (552vw / 19.2);
  bottom: (305vw / 19.2);

  .line {
    border: 1px solid;
    width: (230vw / 19.2);
    position: absolute;

    &.left {
      border-right: none;
      border-bottom: none;
      height: (90vw / 19.2);
      left: 0;
      top: 50%;
      transform: translate(-(274vw / 19.2));
    }

    &.right {
      border-left: none;
      border-top: none;
      height: (200vw / 19.2);
      right: 0;
      bottom: 50%;
      transform: translate(120%);
    }
  }

  .buttonOuter {
    border: 1px solid;
    width: (255vw / 19.2);
    height: (85vw / 19.2);

    .buttonInner {
      border: 1px solid $cImportant;
      color: $cNormalW;
      font-size: (28vw / 19.2);
      width: (240vw / 19.2);
      height: (70vw / 19.2);
      text-align: center;
      text-transform: uppercase;
      line-height: 3.64583vw;
      background-color: $cImportant;
      cursor: pointer;

      &:hover {
        color: $cButtonHover;
      }
    }
    .diagonal {
      position: absolute;
      width: (21.213vw / 19.2);
      height: 1px;
      background-color: $cImportant;
      right: 0;
      bottom: 0;
      transform: rotate(45deg);
      transform-origin: 100%;
    }
  }
}
